* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
  }

  :root {
    --primary-color-nav: #000;
    --secondary-color-nav: #fff;
    --hover-color-nav: blue;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }



  /* Navbar */

.navbar {
    background-color: var(--primary-color-nav);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    color: var(--secondary-color-nav);
}

.navbar ul li p {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    color: var(--secondary-color-nav);
}

.navbar .navbar-drop-down-menu {
    position: relative;
    display: inline-block;
}

.navbar .navbar-events-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.navbar .navbar-drop-down-menu:hover .navbar-events-dropdown-content  {
    display: block;
    background: #000;
}

.navbar ul li a:hover {
    color: var(--hover-color-nav);
  }

.navbar .btn {
    margin-right: 10px;
  }

.navbar ul li a i {
    margin-right: 10px;
  }




  /* Sponsors section */
  .sponsors-section .background-container {
    /* The image used */
    margin: 0 auto;
    padding: 0 15px;

    background: url('../images/background-sponsors.jpg') no-repeat;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-size: cover;
    background-position: center;
    height: 100%;  
    min-height: auto;
  }

  .sponsors-section .content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.8);
  }

  .sponsors-section .main-heading {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .sponsors-section .main-description {
    padding-bottom: 20px;
    color: #fff;
  }

  .sponsors-section ul li::after {
    content: "";
    clear: both;
    display: table;
  }

  .sponsors-section ul li {
    padding-top: 20px;
    background-color:gray;
    margin-bottom: 30px;
  }

  .sponsors-section ul li .logo-pic {
    float: left;
    margin-right: 20px;
    max-width:450px;
    max-height:200px;
    margin-left: 20px;
  }

  .sponsors-section ul li .card-name-text {
    font-size: 4rem;
    line-height: 1.4;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    float: left;
    margin-left:50px;
  }

  .sponsors-section ul li .card-bio {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 300px;
    margin-right: 10px;
    color: #fff;
    text-align: left;
    float: left;
  }

  .sponsors-section ul li:last-child {
    margin-bottom: 0px;
  }